- if stanzas
  %ul
    - stanzas.each do |stanza|
      %li
        - q = URI.encode_www_form_component(@q)
        = link_to stanza[:name], search_stanza_path(stanza[:id], q: q), target: '_blank'
        = "(#{stanza[:count]})"
