%div
  .textsearch_info
    = textsearch_info stanzas

  .pagination.textsearch_paginate
    .pagination-slider
      .pagination-slider-bar
      .pagination-slider-current-bar
      .pagination-slider-indicator
        .inner 0
      .pagination-slider-dotted-line-left
      .pagination-slider-dotted-line-right

    = fixed_link_count_paginate stanzas

