%ul#search-methods-selector
  - page_tabs.each do |tab|
    - if current == tab[:id]
      %li.current= tab[:name]
    - else
      %li= link_to tab[:name], tab[:path]
  //%li= link_to 'Text', text_index_path
  %li.search-methods-visibility-button Hide
