= content_for :javascript do
  :javascript
    $(function() {
      var result_table = $("#organism_results");
      drawInfo.organism = {
        dataTable: result_table.DataTable({
          ajax: {
            url: '/report_type/organisms.json'
          },
          columns: [
            {data: "organism_link"},
            {data: "environment_links"},
            {data: "development_links"},
            {data: "growth_links"},
            {data: "metabolism_links"},
            {data: "morphology_links"},
            {data: "motility_links"},
            {data: "serotype_links"},
            {data: "staining_links"},
            {data: "gene_num"},
            {data: "rrna_num"},
            {data: "trna_num"},
            {data: "ncrna_num"},
          ]
        }),
        downloadCSV: '/report_type/organisms.csv'
      };

      result_table.parent().find(".result-download-container").append("<a>Download CSV</a>");
    });

%table#organism_results.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th{rowspan: 2} Organism
      %th{rowspan: 2} Environments
      %th{colspan: 7} Phenotypes
      %th{colspan: 4} Number of genes
    %tr
      %td Development
      %td Growth
      %td Metabolism
      %td Morphology
      %td Motility
      %td Serotype
      %td Staining
      %td Gene
      %td tRNA
      %td rRNA
      %td ncRNA
