= content_for :javascript do
  :javascript
    $(function() {
      var result_table = $("#organism_results");
      drawInfo.organism = function() {
        return {
          dataTable: $("#organism_results").DataTable({
            retrieve: true,
            ajax: {
              url: Routes.report_type_organisms_path({format: 'json'})
            },
            columns: [
              {data: "category"},
              {data: "organism_link"},
              {data: "genome_size", className: "numeric"},
              {data: "gene_num", className: "numeric"},
              {data: "rrna_num", className: "numeric"},
              {data: "trna_num", className: "numeric"},
              {data: "ncrna_num", className: "numeric"},
              {data: "environment_links"},
              {data: "temperature"},
              {data: "morphologies"},
              {data: "energy_sources"}
            ]
          }),
          downloadCSV: Routes.report_type_organisms_path({format: 'csv'})
        };
      };

      result_table.parent().find(".result-download-container").append("#{content_tag(:a, fa_icon(:file, text: 'Download CSV'))}");
    });

%table#organism_results.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th{rowspan: 2} Taxonomy
      %th{rowspan: 2} Organism
      %th{rowspan: 2} Genome size (bp)
      %th{colspan: 4} Number of genes
      %th{rowspan: 2} Environments
      %th{colspan: 3} Phenotypes

    %tr
      %th Gene
      %th tRNA
      %th rRNA
      %th ncRNA
      %th Temperature
      %th Morphology
      %th Energy source
