= content_for :javascript do
  = javascript_include_tag 'results_table/organism'

%table#organism_results.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %td Organism
    %td Environments
    %td Phenotypes
