defaults: &defaults
  sparqlendpoint: 'https://dev.togogenome.org/sparql-app'
  fulltextsearch: 'http://example.com/test'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
