defaults: &defaults
  providers:
    genes:
      nanostanza:
        -
          uri: http://togogenome.org/stanza/gene_length_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/protein_ec_number_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/protein_3d_structure_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/protein_references_timeline_nano
          span: 2

      togostanza:
        -
          uri: http://togogenome.org/stanza/protein_names
          name: Protein names
        -
          uri: http://togogenome.org/stanza/genome_jbrowse
          name: Genomic context
        -
          uri: http://togogenome.org/stanza/gene_attributes
          name: Gene attributes
        -
          uri: http://togogenome.org/stanza/nucleotide_sequence
          name: Nucleotide sequence
        -
          uri: http://togogenome.org/stanza/protein_attributes
          name: Protein attributes
        -
          uri: http://togogenome.org/stanza/protein_sequence
          name: Protein sequence
        -
          uri: http://togogenome.org/stanza/protein_general_annotation
          name: Protein general annotation
        -
          uri: http://togogenome.org/stanza/protein_ontologies
          name: Protein ontologies
        -
          uri: http://togogenome.org/stanza/protein_sequence_annotation
          name: Protein sequence annotation
        -
          uri: http://togogenome.org/stanza/protein_pfam_plot
          name: Pfam plot
        -
          uri: http://togogenome.org/stanza/protein_orthologs
          name: Protein orthologs
        -
          uri: http://togogenome.org/stanza/protein_references
          name: Protein references
        -
          uri: http://togogenome.org/stanza/protein_cross_references
          name: Protein cross references

    organisms:
      nanostanza:
        -
          uri: http://togogenome.org/stanza/organism_genome_size_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/organism_gene_number_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/organism_gc_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/organism_microbial_cell_shape_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/organism_ph_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/organism_related_disease_nano
          span: 1

      togostanza:
        -
          uri: http://togogenome.org/stanza/organism_names
          name: Organism name
        -
          uri: http://togogenome.org/stanza/genome_information
          name: Genome information
        -
          uri: http://togogenome.org/stanza/organism_jbrowse
          name: Genomic context
        -
          uri: http://togogenome.org/stanza/taxonomy_ortholog_profile
          name: Ortholog profile
        -
          uri: http://togogenome.org/stanza/lineage_information
          name: Taxonomic information
        -
          uri: http://togogenome.org/stanza/organism_culture_collections
          name: Culture collections
        -
          uri: http://togogenome.org/stanza/organism_medium_information
          name: Medium information
        -
          uri: http://togogenome.org/stanza/organism_phenotype
          name: Phenotype information
        -
          uri: http://togogenome.org/stanza/genome_plot
          name: Genomic plot
        -
          uri: http://togogenome.org/stanza/organism_pathogen_information
          name: Pathogen information
        -
          uri: http://togogenome.org/stanza/organism_cross_references
          name: Organism cross references
        -
          uri: http://togogenome.org/stanza/genome_cross_references
          name: Genome cross references

    environments:
      nanostanza:
        -
          uri: http://togogenome.org/stanza/environment_top_level_symbolic_image_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/environment_inhabitants_statistics_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/environment_organism_distribution_on_temperature_nano
          span: 1
        -
          uri: http://togogenome.org/stanza/environment_organism_distribution_on_ph_nano
          span: 1

      togostanza:
        -
          uri: http://togogenome.org/stanza/environment_attributes
          name: Environment attributes
        -
          uri: http://togogenome.org/stanza/environment_inhabitants_statistics
          name: Inhabitants statistics
        -
          uri: http://togogenome.org/stanza/environment_inhabitants
          name: Inhabitants
        -
          uri: http://togogenome.org/stanza/environment_geographical_map
          name: Geographical map
        -
          uri: http://togogenome.org/stanza/environment_taxonomic_composition
          name: Taxonomic composition
        -
          uri: http://togogenome.org/stanza/environment_environmental_ontology
          name: Environmental ontology (MEO)

    phenotypes:
      nanostanza: []
      togostanza:
        -
          uri: http://togogenome.org/stanza/microbial_phenotype_genus_composition
          name: Genus List (Phenotype-based)
        -
          uri: http://togogenome.org/stanza/microbial_phenotype_environment_composition
          name: Environment List (Phenotype-based)
        -
          uri: http://togogenome.org/stanza/microbial_phenotype_cell_shape
          name: Shape Information
        -
          uri: http://togogenome.org/stanza/microbial_phenotype_information
          name: Organism List

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
