.main-container
  #search-methods-container
    %ul#search-methods-selector
      %li= link_to 'Facet', root_path
      %li= link_to 'Sequence', genomes_path
      %li= link_to 'ID converter', converter_path
      %li.current ID resolver
      //%li= link_to 'Text', text_index_path
      %li.search-methods-visibility-button Hide

    #methods.no-result-column
      .method-container#mappings-container(data-mapping-mode='resolver')
        .inner
          #mappings-selector-container
          #mappings-id-container
            %h2
              Identifiers
            #add-new-id
              %textarea#identifiers{name:'identifiers', required: 'required'}
              = button_tag 'Execute', {id: 'execute', class: "tg-button"}
              #loading

            %table#mapped-ids
              %thead
              %tbody

            #message.text-center
