= content_for :header do
  = javascript_include_tag 'idmapping'

.main-container
  #search-methods-container
    = render 'shared/header', current: :resolver

    #methods.no-result-column
      .method-container#mappings-container(data-mapping-mode='resolver')
        .inner
          #mappings-selector-container
          #mappings-id-container
            %h2
              Identifiers
              %span#download-area
            #add-new-id
              %textarea#identifiers{name:'identifiers', required: 'required'}
              = button_tag 'Execute', {id: 'execute', class: "tg-button"}
              #loading

            #results_info

            %table#mapped-ids
              %thead
              %tbody

            #message.text-center
