- if @sample_mode && @sample_id
  var textarea = $("textarea#identifiers");
  textarea.val("#{@sample_id}");
  textarea.addClass('sample');
  $('#add-new-id p#add-new-id-description').text('This is a sample identifier');

:plain
  $('#loading').html('');
  $("table#mapped-ids tbody").html(
    "#{j(render 'results')}"
  );
