- if @sample_mode && @sample_id
  var textarea = $("textarea#identifiers");
  textarea.val("#{@sample_id}");
  textarea.addClass('sample');

:plain
  $('#loading').html('');
  $("table#mapped-ids tbody").html(
    "#{j(render 'results')}"
  );
