- custom = current_page.last? ? {class: 'next disabled', url: '#'} : {class: 'next', url: url}
%li{class: custom[:class]}
  = link_to raw(t 'views.pagination.next'), custom[:url], :rel => 'next', :remote => remote
