= content_for :javascript do
  :javascript
    $(function() {
      var result_table = $("#gene_results");
      drawInfo.gene = function() {
        return {
          dataTable: $("#gene_results").DataTable({
            retrieve: true,
            ajax: {
              url: Routes.report_type_genes_path({format: 'json'})
            },
            columns: [
              {data: "gene_link"},
              {data: "protein_links", width: "100px"},
              {data: "protein_names", width: "220px"},
              {data: "go_links"},
              {data: "organism_link"}
            ]
          }),
          downloadCSV: Routes.report_type_genes_path({format: 'csv'})
        };
      };

      result_table.parent().find(".result-download-container").append("<a><i class='icon-file'></i> Download CSV</a>");
    });

%table#gene_results.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %td Gene
    %td UniProt
    %td Description
    %td Gene ontology
    %td Organism
