= content_for :javascript do
  :javascript
    $(function() {
      var result_table = $("#gene_results");
      drawInfo.gene = {
        dataTable: result_table.DataTable({
          ajax: {
            url: '/report_type/genes.json'
          },
          columns: [
            {data: "gene_link"},
            {data: "protein_links", width: "100px"},
            {data: "protein_names", width: "220px"},
            {data: "go_links"},
            {data: "organism_link"}
          ],
          initComplete: function (setting) {
            #{
              # paginationSlider の描画後にタブを描画しないと Table に width が固定で設定されてしまい
              # 描画後に、paginationSlider を再描画しないと正しくスライダーが表示されないため...
            }
            $('#result_tabs a[href="#gene"]').tab('show');
            setting.oInit.paginationSlider.render();
          }
        }),
        downloadCSV: '/report_type/genes.csv'
      };

      result_table.parent().find(".result-download-container").append("<a>Download CSV</a>");
    });

%table#gene_results.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %td Gene
    %td UniProt
    %td Description
    %td Gene ontology
    %td Organism
