@charset "UTF-8";
@import "compass";
@import "font-awesome";
$color_base_blue: #45b8cc;
$color_base_blue_dark: #33717f;
$color_pale_blue: #ecf8fa;

@mixin node-return-icon {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: solid 3px #333;
  background-color: #333;
  background-position: -201px -40px;
}

body {
  padding-top: 85px;
  background-color: #f4f3f2;
  font-family: "Arial",san-serif;
}

a {
  color: #309DB0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1 {
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}
h2 {
  font-size: 20px;
  line-height: 24px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
.page-header {
  padding: 2px 0 0;
  margin: 0;
  border: none;
}
iframe {
  margin: 0 -2px 0;
}
input, button, select, textarea {
  font-family: "Myriad Pro","Helvetica Neue",san-serif;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  display: inline-block;
  height: 24px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}

/* css sprite */
.navbar .brand, .navbar .nav > li.active:after, #link-DBCLS,
.tg-button:before,
#search-methods-selector li.current:after, #methods:after, .method-container input[type="search"]:before, .facet .add-on, .facet .tree:before, #search-methods-selector li.search-methods-visibility-button:after,
.selector-display-button, .pagination-slider-indicator:after,
[data-mapping-mode="resolver"] #mapping-results-container .node.selected-route .small-db-icon:hover:after,
[data-mapping-mode="resolver"] #mapping-from-db.db-selector .icon:hover:after {
  background-image: image-url('csssprite.png');
  background-repeat: no-repeat;
}
/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  .navbar .brand, .navbar .nav > li.active:after, #link-DBCLS,
  .tg-button:before,
  #search-methods-selector li.current:after, #methods:after, .method-container input[type="search"]:before, .facet .add-on, .facet .tree:before, #search-methods-selector li.search-methods-visibility-button:after,
  .selector-display-button, .pagination-slider-indicator:after,
  [data-mapping-mode="resolver"] #mapping-results-container .node.selected-route .small-db-icon:hover:after,
  [data-mapping-mode="resolver"] #mapping-from-db.db-selector .icon:hover:after {
    background-image: image-url('csssprite@2x.png');
    background-size: 600px auto;
  }
}



/* common */
.padding {
  padding: 12px 20px;
}
.small-note {
  color: #666;
  line-height: 18px;
}
.small-note h2 {
  font-size: 16px;
  margin: 0;
}

/* common ui */
.tg-button {
  display: inline-block;
  background: $color_base_blue;
  @include background-image(linear-gradient(top, $color_base_blue, $color_base_blue_dark));
  @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  padding: 0 16px;
  position: relative;
  &:hover {
    @include transform(translateY(1px));
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  }
  &:before {
    display: inline-block;
    content: "";
    margin-right: .25em;
    position: relative;
    top: 5px;
    position: relative;
  }
  &.clear {
    background: #999;
    @include background-image(linear-gradient(top, #999, #666));
  }
  &.clear:before {
    width: 20px;
    height: 20px;
    background-position: -180px -40px;
    margin-left: -4px;
  }
  &.download:before {
    width: 12px;
    height: 9px;
    background-position: -180px -60px;
    margin-right: .5em;
    top: -1px;
  }
}

/* pagination */
.pagination {
	position: relative;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.pagination ul {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 3;
  position: relative;
}
.pagination ul > li > a, .pagination ul > li > span {
  float: none;
  display: inline-block;
  padding: 4px 9px;
  line-height: 14px;
  background-color: $color_base_blue;
  color: #fff;
  border: none;
}
.pagination ul > li.prev > a, .pagination ul > li.prev > span,
.pagination ul > li.next > a, .pagination ul > li.next > span {
  border-radius: 11px;
}
.pagination ul > li:nth-of-type(3) > a, .pagination ul > li:nth-of-type(3) > span {
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  padding-left: 18px;
}
.pagination ul > li:nth-last-of-type(3) > a, .pagination ul > li:nth-last-of-type(3) > span {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  padding-right: 18px;
}
.pagination ul > li.prev > a, .pagination ul > li.prev > span {
  margin-right: .6em;
}
.pagination ul > li.next > a, .pagination ul > li.next > span {
  margin-left: .6em;
}
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
  color: #fff;
  background-color: #ccc;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
  background-color: $color_base_blue_dark;
}
.pagination ul > .active > a, .pagination ul > .active > span {
  color: #fff;
}
/* pagination slider */
.pagination-slider {
	position: relative;
	height: 56px;
	clear: both;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.pagination-slider > div {
	position: absolute;
}
.pagination-slider-bar, .pagination-slider-current-bar {
	height: 4px;
	top: 34px;
}
.pagination-slider-bar {
	width: 100%;
	background-color: #ddd;
}
.pagination-slider-current-bar {
	background-color: $color_base_blue;
}
.pagination-slider-indicator > .inner {
	background-color: $color_base_blue;
	color: #fff;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	border-radius: 13px;
	padding: 0 13px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	cursor: pointer;
	position: relative;
	left: -50%;
}
.pagination-slider-indicator:after {
	content: "";
	display: block;
	position: absolute;
	width: 17px;
	height: 9px;
	background-position: 0 -40px;
	bottom: -8px;
  transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
}
.pagination-slider-dotted-line-left,
.pagination-slider-dotted-line-right {
	border-top: dashed 1px $color_base_blue;
}

/* header */
header .navbar .nav {
  padding-left: 10px;
  & > li > a {
    color: #888;
    position: relative;
    top: 4px;
    font-weight: normal;
    &:hover {
      color: #888;
      text-decoration: underline;
    }
  }
}
.navbar-inverse .navbar-inner {
  background-color: #fff;
  background-image: none;
  border: none;
  padding: 0 15px;
  height: 45px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.navbar .brand {
  padding: 0;
  margin-right: 10px;
  margin-left: 2px;
  margin-top: 4px;
  width: 179px;
  height: 40px;
  text-indent: -9999px;
}
#login {
  position: absolute;
  right: 13px;
  top: 8px;
  line-height: 28px;
}

/* main */
#main {
  padding-bottom: 30px;
}
#main > section {
  padding: 0 20px;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/* navbar */
#nav-wrapper {
  position: fixed;
  top: 40px;
  width: 100%;
}
#navbar {
  background-color: rgba(67, 185, 204, 0.9);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  height: 40px;
  margin: 0 -25px;
}
.navbar-inner {
  padding: 0;
  background-color: transparent;
  background-image: none;
  background-repeat: repeat-x;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 50px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}
#main .navbar .nav {
  margin: 0 -12px;
  padding: 0 25px;
  position: absolute;
}
.navbar .nav > li {
  position: relative;
  padding-left: 17px;
  margin-left: -17px;
}
.navbar .nav > li.active:after {
  content: " ";
  display: block;
  position: absolute;
  width: 17px;
  height: 10px;
  background-position: 0 -40px;
  left: 50%;
}
.navbar .nav > li > a {
  padding: 0 12px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 4px;
}
.navbar .nav > li > a:hover {
  color: #fff;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* header */
#header {
  padding-top: 26px;
  margin-bottom: 24px;
  border-bottom: solid 3px #555;
  &.tg-report-header {
    p.tg-report-type {
      font-size: 12px;
      line-height: 14px;
      font-weight: bold;
      margin-bottom: 2px;
      background-color: #333;
      color: #fff;
      padding: 1px 8px;
      letter-spacing: .15em;
    }
    h1 {
      padding: 3px 0 0;
      span {
        &:before {
          color: $color_base_blue;
          font-size: 14px;
          font-weight: lighter;
        }
        &#tg-title-id:before {
          content: "ID: ";
        }
        &#tg-title-label:before {
          content: "Label: ";
        }
        & + span {
          margin-left: .75em;
        }
      }
    }
  }
}

/* footer */
footer {
  position: relative;
  background-color: #555;
  color: #fff;
  padding: 25px 25px 15px;
}
footer a {
  color: #fff;
  text-decoration: underline;
}
footer a:hover {
  color: $color_base_blue;
}
#link-DBCLS {
  display: block;
  text-indent: -9999px;
  width: 99px;
  height: 46px;
  background-position: -20px -40px;
  margin-bottom: 10px;
}
footer address {
  font-size: 12px;
  line-height: 20px;
}
#copyright {
  font-size: 12px;
}

/* search-methods */
#search-methods-container {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: -16px;
  margin-bottom: 12px;
}
#search-methods-selector {
  margin: 0 0 8px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  height: 17px;
  position: relative;
  background: $color_base_blue;
  /* Old browsers */
  background: -moz-linear-gradient(top, $color_base_blue 1%, $color_base_blue_dark 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, $color_base_blue), color-stop(100%, $color_base_blue_dark));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $color_base_blue 1%, $color_base_blue_dark 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $color_base_blue 1%, $color_base_blue_dark 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $color_base_blue 1%, $color_base_blue_dark 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, $color_base_blue 1%, $color_base_blue_dark 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_base_blue', endColorstr='$color_base_blue_dark',GradientType=0 );
  /* IE6-9 */
}
#search-methods-selector li {
  list-style: none;
  cursor: pointer;
}
#search-methods-selector > li {
  float: left;
  line-height: 17px;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 16px;
  border-right: solid 1px rgba(255, 255, 255, 0.2);
}
#search-methods-selector > li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
#search-methods-selector > li.current,
#search-methods-selector > li:hover,
#search-methods-selector > li:hover a {
  color: #fff;
}
#search-methods-selector > li.current:after {
  content: "";
  display: block;
  width: 19px;
  height: 10px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  background-position: -120px -40px;
}
#search-methods-selector li.search-methods-visibility-button {
  position: absolute;
  top: 10px;
  right: 16px;
  font-weight: normal;
  color: #fff;
  border: none;
  padding: 0;
}
#search-methods-selector li.search-methods-visibility-button:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 14px;
  background-position: -140px -60px;
  margin-left: .5em;
}
#search-methods-selector li.search-methods-visibility-button.hide {
  display: inline-block;
}
#search-methods-selector li.search-methods-visibility-button.hide:after {
  background-position: -160px -60px;
}
#methods {
  position: relative;
}
#methods:after {
  content: "";
  display: block;
  width: 19px;
  height: 12px;
  background-position: -140px -40px;
  position: absolute;
  bottom: -12px;
  left: 22px;
  z-index: 3;
}
#methods.no-result-column:after {
  display: none;
}
.method-container {
  padding: 4px 0;
}
#search-methods-container + div {
  padding: 14px 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* facet */
.facet {
  background-color: transparent;
  position: relative;
  padding: 10px 20px 4px 244px;
  border-bottom: dashed 1px #ccc;
  font-size: 16px;
  line-height: 22px;
  .selected {
    position: relative;
    .add-on {
      display: block !important;
      min-width: auto;
      padding: 10px;
      text-shadow: none;
      background-color: transparent;
      border: none;
      position: absolute;
      width: 20px;
      height: 20px;
      background-position: -156px -37px;
      z-index: 3;
      top: 1px;
      left: 3px;
      cursor: pointer;
      @include box-sizing(border-box);
      &.facet-selected {
        background-position: -180px -40px;
      }
    }
  }
}
h3[class^="icon-"], h3[class*=" icon-"] {
  font-family: "Myriad Pro","Helvetica Neue",san-serif;
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 234px;
  line-height: 22px;
  vertical-align: baseline;
  text-align: right;
  position: absolute;
  left: 0;
}
.icon-search::before {
  content: none;
}
.icon-search::after {
  content: "▶";
  font-size: 8px;
  padding-left: 1em;
  vertical-align: baseline;
}
.method-container {
  input {
    &[type="search"] {
      -moz-appearance: none !important;
      width: 100%;
      @include box-sizing(border-box);
      height: 22px;
      padding-left: 24px;
      position: relative;
      background-color: $color_pale_blue;
      display: block;
      margin-bottom: 0;
      &:before {
        -moz-appearance: none !important;
        content: "";
        display: block;
        position: absolute;
        height: 14px;
        width: 14px;
        background-position: -160px -40px;
        left: 6px;
      }
    }
    &.facet-selected {
      background-color: $color_base_blue_dark !important;
      background-image: none;
      color: #fff;
    }
  }
}

/* facet classes */
.classes-container {
  margin: 0 0 -4px;
  padding: 6px 5px 0;
  position: relative;
  display: inline-block;
}
.classes-container .class-node {
  display: inline-block;
  list-style: none;
}
.classes-container .class-node span {
  color: $color_base_blue;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  word-wrap: normal;
  cursor: pointer;
}
.classes-container .class-node span:hover {
  color: $color_base_blue_dark;
}
.selector-display-button {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-position: -120px -60px;
  margin-left: .5em;
  cursor: pointer;
  position: relative;
}
.selector-display-button:hover {
  background-position: -120px -80px;
}
.classes-container .class-node + .class-node:before {
  content: ">";
  font-weight: normal;
  color: #ccc;
  display: inline-block;
  width: 26px;
  height: 20px;
  text-align: center;
}
.classes-selector {
  height: auto;
  overflow-y: auto;
  color: #fff;
  background-color: $color_base_blue;
  padding: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 3;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  margin: -13px 0;
	z-index: 2001;
  visibility: hidden;
}
.classes-selector.left-side {
  right: 0;
}
.classes-selector li {
	cursor: pointer;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  padding: 0 10px;
  white-space: nowrap;
	line-height: 26px;
	font-size: 16px;
	font-weight: bold;
}
.classes-selector li:hover {
	background-color: rgba(255,255,255,.3);
}
.classes-selector li.selected {
  color: $color_base_blue;
  background-color: #fff;
}
.classes-container .hit-test {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(1,1,1,.0);
	top: 0;
	left: 0;
	z-index: 2000;
	display: none;
}

#facets > div {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  background-color: #fcfcfc;
  position: relative;
  margin-top: -1px;
}

#result_panes.tab-content {
  overflow: visible;
}

/* autocomplete */
.ui-autocomplete {
	z-index: 20 !important;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	border: none;
}
.ui-widget-content {
	border: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background-color: #daf1f5;
	background-image: none;
	border-color: #cfeaf0;
}
.limit-message {
	background-color: $color_base_blue;
	color: #fff;
}

/* genomes */
#genomes {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 3;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
}
#results_info, .dataTables_info {
  color: #666;
}
.table {
  border-top: none;
  border-right: none;
  padding-top: 10px;
}
table.dataTable {
  margin-bottom: 6px;
}
table.table {
  td, th {
    border-left: none;
    padding: 3px 10px 3px 3px;
  }
  thead td {
    font-weight: bold;
  }
  tbody tr:first-child td {
    border-top: solid 2px #555;
  }
  td.dataTables_empty {
    padding: 15px;
  }
}
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
  background-color: #daf1f5;
}

.identifiers_processing {
  left: 50%;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

div#result_panes .dataTables_processing,  .identifiers_processing{
	box-shadow: 0 0 24px rgba(0,0,0,.2);
	z-index: 100;
  position: fixed;
  background: image-url('loading.gif') no-repeat 50% 66% white;
  top: 50% !important;
  border: none !important;
  height: 60px;
  width: 250px;
  margin-top: -30px;
  margin-left: -125px;
  color: #999;
  font-size: 14px;
}
.dataTables_length {
  position: relative;
	z-index: 1;
}
table#results {
  ul {
    margin: 0 0 0 16px;
  }
  ul + ul {
    padding-top: 10px;
  }
  li {
    line-height: 14px;
    padding: 3px 0;
  }
}

/* result download button */
.result-upload-container a,
.result-download-container a {
  color: #fff;
  background-color: $color_base_blue;
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
	border-radius: 10px;
	padding: 2px 10px 0;
	cursor: pointer;
	display: inline-block;
}
.result-upload-container a:hover,
.result-download-container a:hover {
  background-color: $color_base_blue_dark;
  text-decoration: none;
}
.result-upload-container a i,
.result-download-container a i {
  margin-right: .5em;
  font-size: 12px;
  position: relative;
  top: -1px;
}
.result-upload-container a + a,
.result-download-container a + a {
  margin-left: 4px;
}

/* sequence */
#sequence-container .inner {
  padding: 10px 20px 4px 20px;
  position: relative;
}
#sequence-container.method-container input[type="search"] {
  width: 100%;
  margin-right: -180px;
  padding-right: 200px;
  height: 28px;
  display: inline-block;
}
#sequence-container.method-container input[type="search"]:before {
  top: 7px;
}
#sequence-container button {
  width: 90px;
  left: 5px;
  margin-left: -5px;
}


/* ID Mapping ver. 2 */
#mappings-selector-container {
  width: 100%;
  position: relative;
  @include box-sizing(border-box);
  padding: 20px 156px;
}
/* ID Mapping: large icon */
.db-selector {
  width: 27px;
  height: 26px;
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  z-index: 200;
  & > div {
    position: absolute;
  }
  .side, .lid {
    width: 26px;
    background-color: #aaa;
    position: absolute;
    @include transition(background-color .5s ease-out 0);
  }
  .side {
    height: 8px;
    border-radius: 0 0 13px 13px/0 0 5px 5px;
    box-shadow: 0 3px 2px -3px rgba(0,0,0,.6);
  }
  .bottom.side {
    box-shadow: 0 1.5px 2.5px -.5px rgba(0,0,0,.3);
  }
  .lid {
    height: 10px;
    border-radius: 13px/5px;
    box-shadow: 0 .5px 0 rgba(255,255,255,.6);
    &:after {
      content: "";
      width: 26px;
      height: 10px;
      background-color: rgba(255,255,255,.4);
      border-radius: 13px/5px;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }
  }
  .top.side { top: 5px; }
  .middle.lid { top: 6px; }
  .middle.side { top: 11px; }
  .bottom.lid { top: 12px; }
  .bottom.side { top: 17px; }
}
#mapping-from-db {
  left: 144px;
}
#mapping-to-db {
  right: 144px;
}
.db-selector .icon {
  position: relative;
  top: -2px;
  z-index: 200;
  height: 26px;
}
[data-mapping-mode="resolver"] #mapping-from-db.db-selector .icon {
  cursor: pointer;
  &:hover:after {
    @include node-return-icon;
    top: -20px;
    left: 5px;
    z-index: 1;
  }
}
.db-selector {
  .db-name-container {
    width: 110px;
    top: -8px;
    height: 40px;
    display: table;
    position: absolute;
    cursor: pointer;
  }
  .db-name {
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
    display: table-cell;
    &.selected {
      font-weight: bold;
    }
    &:before, &:after {
      content: "";
      display: block;
      color: #000;
      height: 2px;
      position: absolute;
    }
    &:before {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 5px solid #000;
      top: 12px;
    }
    &:after {
      border-top: 5px solid #000;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      top: 21px;
    }
  }
}
#mapping-from-db.db-selector {
  .db-name-container {
    left: -130px;
  }
  .db-name {
    text-align: right;
    &:before, &:after {
      right: -12px;
    }
  }
}
#mapping-to-db.db-selector {
  .db-name-container {
    right: -128px;
  }
  .db-name {
    text-align: left;
    &:before, &:after {
      left: -12px;
    }
  }
}
#mapping-results-container {
  height: 120px;
  min-height: 120px;
  position: relative;
  @include transition(height .8s ease-out 0);
}
.arrow-container, .node {
  @include transition(opacity .1s ease-out 0, height .5s ease-out 0, top .5s ease-out 0, left .5s ease-out 0);
}
/*
@-webkit-keyframes node-hop {
  0%   { -webkit-transform: translate(0px, 0px); }
  75%  { -webkit-transform: translate(-10px, -80px); }
  100% { -webkit-transform: translate(0px, 0px); }
}
@keyframes node-hop {
  0%   { transform: translate(0px 0px); }
  75%  { transform: translate(-10px, -80px); }
  100% { transform: translate(0px 0px); }
}
*/
.deciding-route #mapping-hovering-route .node {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  /*
  -webkit-animation-duration: 4.4s;
  animation-duration: 4.4s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: node-hop;
  animation-name: node-hop;
  */
}
.node .small-db-icon {
  -moz-transition: top 1.5s ease-out 0;
  -webkit-transition: top 1.5s ease-out 0;
  -o-transition: top 1.5s ease-out 0;
  -ms-transition: top 1.5s ease-out 0;
  transition: top 1.5s ease-out 0;
  -moz-transition: left 1.5s ease-out 0;
  -webkit-transition: left 1.5s ease-out 0;
  -o-transition: left 1.5s ease-out 0;
  -ms-transition: left 1.5s ease-out 0;
  transition: left 1.5s ease-out 0;
}
.mapping-arrow {
  -moz-transition: height .5s ease-out 0, border .5s ease-out 0;
  -webkit-transition: height .5s ease-out 0, border .5s ease-out 0;
  -o-transition: height .5s ease-out 0, border .5s ease-out 0;
  -ms-transition: height .5s ease-out 0, border .5s ease-out 0;
  transition: height .5s ease-out 0, border .5s ease-out 0;
}
.mapping-arrow:after {
}
/* arrow svg */
#arrows-svg {
  padding: 0;
  margin: 0;
}
#arrows-svg path.arrow,
#arrows-svg path.arrowhead {
  fill: none;
  stroke: #000;
  stroke-width: 2;
}
/*
#mapping-results-container.highlighting .arrow-container,
#mapping-results-container.highlighting .node {
  opacity: .05;
}
*/
#mapping-results-container.highlighting .highlighting {
  z-index: 110;
}
#mapping-results-container > div {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* ID Mapping: small icon */
#mapping-dbicons-container {
}
[data-mapping-mode="converter"] #mapping-dbicons-container {
  z-index: 130;
}
#mapping-results-container .node {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #4c443c;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
[data-mapping-mode="converter"] #mapping-results-container .node .small-db-icon {
  cursor: pointer;
  z-index: 131;
}
#mapping-results-container .node p {
  pointer-events: none;
}
[data-mapping-mode="resolver"] #mapping-results-container .node {
  cursor: pointer;
}
[data-mapping-mode="resolver"] #mapping-results-container .node.selected-route .small-db-icon:hover:after {
  @include node-return-icon;
  top: -20px;
  left: -2px;
  z-index: 1;
}
#mapping-results-container .node.category {
  background-color: #fff;
}
#mapping-results-container .node.category .category-node{
  border-width: 3px;
  border-style: solid;
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 8px;
  cursor: pointer;
}
#mapping-results-container .small-db-icon {
  position: absolute;
  width: 10px;
  left: 3px;
  top: 3px;
}
.small-db-icon .side,
.small-db-icon .lid {
  position: absolute;
  width: 10px;
  left: 0;
}
.small-db-icon .side {
  height: 3px;
  border-radius: 0 0 5px 5px/0 0 2px 2px;
}
.small-db-icon .lid {
  height: 4.5px;
  border-radius: 5px/2px;
}
.small-db-icon .lid:after {
  content: "";
  width: 10px;
  height: 4.5px;
  background-color: rgba(255,255,255,.4);
  border-radius: 5px/2px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.small-db-icon .top.side { top: 2.5px; }
.small-db-icon .middle.lid { top: 2.5px; }
.small-db-icon .middle.side { top: 5px; }
.small-db-icon .bottom.lid { top: 5px; }
.small-db-icon .bottom.side { top: 7.5px; }
.node .db-name {
  position: absolute;
  font-size: 12px;
  font-weight: bolder;
  line-height: 14px;
  text-align: left;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  top: -8px;
  left: 17px;
  width: 250px;
  text-shadow: -1px -1px 0px #fff, -1px 0px 0px #fff, -1px 1px 0px #fff, 0px -1px 0px #fff, 0px 1px 0px #fff, 1px -1px 0px #fff, 1px 0px 0px #fff, 1px 1px 0px #fff;
}
/* ID Mapping: arrow */
.arrow-container {
  position: absolute;
  height: 21px;
  width: 100%;
  padding-left: 7.5px;
  padding-right: 10.5px;
  &.left {
    padding-left: 0;
  }
  &.right {
    padding-right: 16px;
    &.top,
    &.bottom {
      padding-right: 0;
    }
  }
  &.undefined {
    position: relative;
    height: 120px;
    padding-left: 10px;
    padding-right: 20px;
    @include box-sizing(border-box);
    @include transition(opacity .2s ease-out 0);
  }
}
#mapping-results-container.showing-result .arrow-container.undefined {
  opacity: 0;
}
.arrow-container {
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    top: -3px;
  }
  &.bottom .inner {
    top: -2px;
  }
}
.mapping-arrow {
  position: absolute;
  border-style: solid;
  border-color: #4c443c;
  border-width: 0;
  border-top-width: 2px;
  width: 100%;
  top: 50%;
  @include box-sizing(border-box);
  &.undefined {
    border-top-style: dotted;
    border-top-width: 2px;
  }
}
[data-mapping-mode="resolver"] .mapping-arrow.undefined {
  width: 10%;
  opacity: .5;
}
.left .mapping-arrow {
  border-left-width: 2px;
}
.right .mapping-arrow {
  border-right-width: 2px;
}
.top.left .mapping-arrow {
  border-top-left-radius: 4px;
}
.bottom.left .mapping-arrow {
  border-bottom-left-radius: 4px;
}
.top.right .mapping-arrow {
  border-top-right-radius: 4px;
}
.bottom.right .mapping-arrow {
  border-bottom-right-radius: 4px;
}
.bottom .mapping-arrow {
  border-top-width: 0;
  border-bottom-width: 2px;
  top: auto;
  bottom: 50%;
}
.dotted .mapping-arrow {
  border-style: dotted;
  border-color: #000;
}
.mapping-arrow.right-arrowhead:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-top: solid 2px #4c443c;
  border-right: solid 2px #4c443c;
  position: absolute;
  @include transform(rotate(45deg));
  top: -4px;
  right: 0;
  @include transition(
    transform .2s ease-out 0,
    left .2s ease-out 0,
    right .2s ease-out 0,
    top .2s ease-out 0,
    bottom .2s ease-out 0);
}
.right .mapping-arrow.right-arrowhead:after {
  right: -2px;
}
.top.right .mapping-arrow.right-arrowhead:after {
  @include transform(rotate(135deg));
  top: auto;
  bottom: 0;
  right: -4px;
}
.bottom .mapping-arrow.right-arrowhead:after {
  top: auto;
  bottom: -4px;
}
.bottom.right .mapping-arrow.right-arrowhead:after {
  @include transform(rotate(-45deg));
  top: 0;
  right: -4px;
}
/* ID Mapping: routes */
#mapping-routes-container {
}
#mapping-routes-container .route {
  height: 21px;
  cursor: pointer;
  position: relative;
  z-index: 120;
}
#mapping-hovering-route {
  z-index: 0;
}
.deciding-route #mapping-hovering-route {
  z-index: 100;
}
[data-mapping-mode="converter"] #mapping-results-container.highlighting #mapping-arrows-container,
[data-mapping-mode="converter"] #mapping-results-container.highlighting #mapping-dbicons-container {
  opacity: .3;
}
[data-mapping-mode="resolver"] #mapping-results-container.highlighting #mapping-dbicons-container .node {
  opacity: .3;
}
[data-mapping-mode="resolver"] #mapping-results-container.highlighting #mapping-dbicons-container .node.hovering,
[data-mapping-mode="resolver"] #mapping-results-container.highlighting #mapping-dbicons-container .node.selected-route {
  opacity: 1;
}
#mapping-results-container.highlighting #mapping-arrows-container path {
  stroke-opacity: .3;
}
#mapping-results-container.highlighting #mapping-arrows-container .hovering path,
#mapping-results-container.highlighting #mapping-arrows-container .selected-route path {
  stroke-opacity: 1;
}

/* result message */
.result-message {
  font-size: 12px;
  line-height: 20px;
  color: #666;
  position: absolute;
  top: -13px;
}
/* ID Mapping: db selector */
.db-list-container {
  width: auto;
  min-width: 150px;
  background-color: rgba(255,255,255,.975);
  border-radius: 10px;
  top: -90px;
  box-shadow: 0 2px 6px rgba(0,0,0,.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(.85);
  transform: scale(.85);
  -moz-transition: -ms-transform .2s ease-out 0, opacity .2s ease-out 0;
  -webkit-transition: -webkit-transform .2s ease-out 0, opacity .2s ease-out 0;
  -o-transition: -o-transform .2s ease-out 0, opacity .2s ease-out 0;
  -ms-transition: -ms-transform .2s ease-out 0, opacity .2s ease-out 0;
  transition: transform .2s ease-out 0, opacity .2s ease-out 0;
  position: absolute;
  z-index: 300;
}
.db-selector .db-list-container {
  width: 380px;
}
.db-list-container.open {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  visibility: visible;
}
.db-list-container {
  /*left: 42px;*/
  -webkit-transform-origin:-10% 30%;
  -moz-transform-origin:-10% 30%;
  -o-transform-origin:-10% 30%;
  -ms-transform-origin:-10% 30%;
  transform-origin:-10% 30%;
}
.db-list-container.is-right {
  /*right: 42px;*/
  -webkit-transform-origin:110% 30%;
  -moz-transform-origin:110% 30%;
  -o-transform-origin:110% 30%;
  -ms-transform-origin:110% 30%;
  transform-origin:110% 30%;
}
.db-list-container .bg {
  position: fixed;
  visibility: hidden;
  z-index: 301;
}
.db-list-container.open .bg {
  visibility: visible;
}
.db-list-container .arrow {
  content: "";
  display: block;
  position: absolute;
  border-right: solid 11px #4B4738;
  border-top: solid 7px transparent;
  border-bottom: solid 7px transparent;
  left: -11px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.db-list-container.is-right .arrow {
  left: auto;
  right: -11px;
  border-right: none;
  border-left: solid 11px #999482;
}
.db-list-container:before {
  content: "Select database";
  font-size: 14px;
  line-height: 20px;
  color: #999482;
  text-align: center;
  display: block;
  margin: 16px auto -4px;
}

.db-list-container .inner {
  position: relative;
  padding: 0 10px 0 10px;
  z-index: 302;
}
.db-selector + .db-list-container .inner {
  padding-left: 135px;
  padding-bottom: 10px;
  overflow-y: scroll;
}
.db-list-container dl,
.db-list-container ul {
  margin: 14px 0;
}
.db-list-container dt,
.db-list-container dd,
.db-list-container li {
  line-height: 14px;
}
.db-list-container dt {
  margin-bottom: -20px;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  left: -134px;
  top: 6px;
  position: relative;
  width: 130px;
  height: 20px;
  line-height: 12px;
}
.db-list-container dd,
.db-list-container li {
  font-style: 14px;
  margin-left: 0;
  list-style: none;
}
.db-list-container dd + dt {
  margin-top: 10px;
}
.db-list-container dd p,
.db-list-container li p {
  padding: 3px 7px;
  margin: 0;
  border: solid 2px rgba(1,1,1,0);
  cursor: pointer;
}
.db-list-container dd:hover p,
.db-list-container li:hover p,
.db-list-container dd p.selected,
.db-list-container li p.selected {
  background-color: #fff;
  border: solid 2px #999482;
  border-radius: 14px;
}
.db-list-container dd p.disable,
.db-list-container li p.disable {
  cursor: auto;
  border-color: rgba(1,1,1,0);
  color: #ccc;
}
/* ID Mapping: ids */
#mappings-id-container {
  padding: 0 20px 10px;
  h2 {
    font-size: 18px;
    line-height: 24px;
    border-bottom: solid 2px #000;
  }
}
#mappings-id-container h2 > span {
  position: relative;
  top: -2px;
}
#mapped-ids {
  width: 100%;
  table-layout: fixed;
  position: relative;
  margin-top: -6px;
  border-top: solid 2px #000;
}
#mapped-ids th,
#mapped-ids td {
  padding: 8px 24px 6px 0;
  vertical-align: top;
  line-height: 14px;
}
#mapped-ids th {
  border-bottom: solid 2px #000;
  text-align: left;
}
#mapped-ids th div.circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: .25em;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
}
#mapped-ids td {
  border-bottom: solid 1px #ccc;
  position: relative;
}
#mapped-ids td div {
  position: relative;
}
#mapped-ids tbody td + td div:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-bottom: solid 1px #666;
  border-right: solid 1px #666;
  -moz-transform: rotate(-45deg) translateY(-3px);
  -webkit-transform: rotate(-45deg) translateY(-3px);
  -o-transform: rotate(-45deg) translateY(-3px);
  -ms-transform: rotate(-45deg) translateY(-3px);
  transform: rotate(-45deg) translateY(-3px);
  position: absolute;
  top: 50%;
  left: -16px;
}
#mapped-ids td a {
  line-height: 14px;
  display: block;
  padding: 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#mapped-ids td a span {
}
#mapped-ids td a .id-name {
  color: #000;
  position: relative;
  top: 1px;
}
#mapped-ids td a .url {
  font-size: 10px;
  position: relative;
  top: -1px;
}
#add-new-id {
  position: relative;
  margin: 10px 100px 8px 0;
  p {
    position: absolute;
    z-index: 10;
    width: 50%;
    top: 20px;
    left: 25%;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    color: $color_base_blue;
  }
  textarea {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: $color_pale_blue;
    &:focus, &:hover {
      z-index: 20;
      border-color: $color_base_blue_dark;
      @include box-shadow(0 0 6px $color_base_blue);
    }
  }
  button {
    position: absolute;
    top: 0;
    right: -100px;
    height: 50px;
  }
  &.sample {
    &:after {
      content: "Sample";
      position: absolute;
      bottom: 20px;
      right: 17px;
      color: #CAC8C8;
      font-size: 18px;
      font-weight: bold;
      width: 200px;
      height: 40px;
      line-height: 50px;
      overflow: hidden;
      left: 50%;
      text-align: center;
      margin-left: -100px;
    }
    textarea {
      background-color: #f3f2f2;
    }
  }
}

div#mapping-reset-button {
  color: #fff;
  position: absolute;
  top: -14px;
  left: auto;
  right: -130px;
  font-size: 12px;
  text-align: center;
  width: 80px !important;
  line-height: 28px;
}

/* stanza */
#lineage_information iframe,
#environment_inhabitants iframe {
  max-height: 500px;
  overflow: auto;
}


/* Nano Stanza
 -------------------------------- */
 #nanostanzas {
  margin-bottom: 30px;
}
.nanostanza-container {
  height: 160px;
  background: image-url('loading.gif') no-repeat 50% 50% #fff;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.2);
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  display: inline-block;
  margin: 0 2px 2px 0;
  float: none;
}
.nanostanza-container iframe {
  border: none;
  margin: 0;
  height: 160px;
  -moz-transition: -ms-transform .2s ease-out 0, opacity .2s ease-out 0;
  -webkit-transition: -webkit-transform .2s ease-out 0, opacity .2s ease-out 0;
  -o-transition: -o-transform .2s ease-out 0, opacity .2s ease-out 0;
  -ms-transition: -ms-transform .2s ease-out 0, opacity .2s ease-out 0;
  transition: transform .2s ease-out 0, opacity .2s ease-out 0;
}
.nanostanza-container iframe.unload {
  opacity: 0;
  transform: scale(.5);
}
.nanostanza-container iframe,
.nanostanza-container[data-nanostanza-span="1"] iframe {
  width: 160px !important;
}
.nanostanza-container[data-nanostanza-span="2"] iframe {
  width: 326px !important;
}
.nanostanza-container[data-nanostanza-span="3"] iframe {
  width: 492px !important;
}
.nanostanza-container[data-nanostanza-span="4"] iframe {
  width: 658px !important;
}

/* Text search */
#textsearch-container .inner {
  padding: 10px 20px 4px 20px;
  position: relative;
}

#textsearch-container .form-line {
  display: table;
  width: 100%;
}

#textsearch-container select {
  display: table-cell;
  vertical-align: middle;
}

#textsearch-container .form-line span {
  display: table-cell;
  width: 100%;
  padding: 0px 0px 0px 10px;
  vertical-align: middle;
}

#textsearch-container.method-container .form-line span input[type="search"] {
  width: 100%;
  height: 28px;
}

#textsearch-container.method-container .form-line span input[type="search"]:before {
  top: 7px;
}

#textsearch-container button {
  width: 90px;
  vertical-align: middle;
  display: table-cell;
}

#stanzas {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 3;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
}

#stanzas .textsearch_info {
  color: #666;
}

.textsearch_paginate {
  text-align: center;
}
