= content_for :javascript do
  = javascript_include_tag 'results_table/environment'

%table#environment_results.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %td Environment
    %td Category
