= content_for :javascript do
  :javascript
    $(function() {
      var result_table = $("#environment_results");
      drawInfo.environment = function() {
        return {
          dataTable: $("#environment_results").DataTable({
            retrieve: true,
            ajax: {
              url: Routes.report_type_environments_path({format: 'json'})
            },
            columns: [
              {data: "category"},
              {data: "environment_link"},
              {data: "definition"},
              {data: "inhabitants", className: "numeric"}
            ]
          }),
          downloadCSV: Routes.report_type_environments_path({format: 'csv'})
        };
      };

      result_table.parent().find(".result-download-container").append("<a><i class='fa fa-file'></i> Download CSV</a>");
    });

%table#environment_results.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %td Category
    %td Environment
    %td Definition
    %td Inhabitants
