= content_for :javascript do
  :javascript
    $(function() {
      var result_table = $("#environment_results");
      drawInfo.environment = {
        dataTable: result_table.DataTable({
          ajax: {
            url: '/report_type/environments.json'
          },
          columns: [
            {data: "category"},
            {data: "environment_link"},
            {data: "definition"},
            {data: "inhabitants", className: "numeric"}
          ]
        }),
        downloadCSV: '/report_type/environments.csv'
      };

      result_table.parent().find(".result-download-container").append("<a><i class='icon-file'></i> Download CSV</a>");
    });

%table#environment_results.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %td Category
    %td Environment
    %td Definition
    %td Inhabitants
