%table#results.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %td Description
    %td Gene
    %td UniProt ID
    %td Gene ontologies
    %td Organism
    %td Environments
    %td Phenotypes
